div.viewport > p {
  width: 550px;
  margin: 10px 0 10px 22%;
}

button#btn2 {
  margin: 0 100px;
}

#scrollPane {
  height: 380px;
  width: 530px;
  padding: 10px;
  background: url("../img/roughpaper.jpg") #f5f5f5 no-repeat;
  margin-left: 22%;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida,
    "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#scrollPane > * {
  width: 530px;
}

#scrollPane div.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding: 10px 0;
}

*:focus {
  outline: blue 1px inset;
}
