/* ==== COLOUR VARIABLES ==== */

/*****************************
Common Single Colour Variables
******************************/

$colour_primary: #27AAE1;
$colour_secondary: #1D80A9;
$colour_complimentary: #CEE2EA;
$colour_background: #EAEDEF;
$colour_headings: #00A396; 
$colour_paragraph: #151B48;

/*******************************
Common List of Colours Variables
********************************/

$colour_level_Primary: #00A396 #046EB1 #85298D; 
$colour_level_Secondary: #66DAD0 #68A8D0 #B67FBB;


/*****************************
Site Specific Colour Variables
******************************/

$custom-colour_dark-pink: #DB0016;
$custom-colour_aqua: #4FB3BB;