
#slideshowContainer {
max-width: 55rem;
width: 100%;
height: 34.5rem;
position: relative;
margin-bottom: 3rem;
    .carouselCls {
    background-color: #fff
    }
    .centerContent {
    position: relative;
    max-width: 55rem;
    width: 100%;
    height: 31rem;
    padding: 0;
    border: 5px solid pink;
    overflow: hidden
    }
    .navButton {
    margin: 0;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 0;
    border: 1px solid #dedede;
    background: pink;
    color: #fff
    }
    .slide-btn-prev {
    background: url(../img/carousel-prev.png) no-repeat;
    width: 1.4rem;
    height: 2.5rem;
    }
    .slide-btn-next {
    background: url(../img/carousel-next.png) no-repeat;
    width: 1.4rem;
    height: 2.5rem;
    }
    .leftCol{
    width: auto;
    text-align: center;
    position: absolute;
    left: 0.4rem;
    top: 13.5rem;
    }
    .rightCol{
    width: auto;
    text-align: center;
    position: absolute;
    right: 0.4rem;
    top: 13.5rem;
    }
    .midCol {
    max-width: 55rem;
    width: 100%
    }
    
    
    ul {
        &.dotNavClass {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        display: inline-block;
        width: 100%;
            li {
            border: 2px solid pink;
            display: inline-block;
            width: 2rem;
            margin-right: 0.5rem;
            height: 2rem;
            line-height: 1.8;
            border-radius: 100%;
            box-sizing: border-box;
            cursor: pointer;
                &[aria-current=true] {
                font-weight: 700;
                color: #000;
                background: pink;
                }
            }
        }
    }
    
    
    .fa.fa-angle-left, .fa.fa-angle-right{
    font-size: 7rem;
    padding: 0 5px    
    }
    .navDivClass {
    margin-top: 1rem;
    }
    .centerContent>div>div {
    left: 0!important;
    top: 0!important
    }
}