@import 'triangle';

/* tabs default and horizontal
================================================== */

    .tabs {
    margin: 0;
        + div.content {
        margin-bottom: 2rem;
        padding:1rem;
        }
        &[role="tablist"]{
        margin: 0 0 -.08em;   
        }
    }

    .tab {
    display: inline-block;
    margin: 0 0 0.05em; 
    }
    .tab {
    position:relative;
    display: inline-block;
    color: #000;
    background-color: #fff;
    border:1px solid $colour_primary;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline:none;
    }
    .tab:hover,
    .tab:focus {
    text-decoration: none;
    color: #000;
    border-top: 6px solid $colour_primary; 
    }
    .tab[aria-selected="true"]{
    color: #000;
    font-weight:700;
    border-bottom:none;
    border-top: 6px solid $colour_secondary;
    }
    .tab[aria-selected="true"]:after {
    position: absolute;
    z-index: 3;
    bottom: -1px;
    right: 0;
    left: 0;
    height: .3em;
    background: #fff;
    content: '';
    }
    .tab[aria-selected="true"]:hover,
    .tab[aria-selected="true"]:focus{
    border-top: 6px solid $colour_primary;
    }
    #tabInsertIdh {
    text-align: left;
    background: #fff;
    padding: 1rem;
    border: 1px solid $colour_primary;
    }

/* Accordion
================================================== */
    #accordionGroup { 
        .accTitle {
        position: relative;
        text-transform: uppercase;
        padding: 0.3rem 0.5rem;
        margin-bottom: 1px;
        }
        .accContent {
        text-align: center;
        background: #000;
        }
        .accAccordion {
        position:relative;
        cursor: pointer;
        width:100%;
        padding:1rem;
        @extend %font-h3;
        border: 1px solid $colour_primary;
        border-top: 6px solid $colour_primary;
        color:#000;
        outline:none;
            &:hover, &:focus{
            border-top: 6px solid $colour_primary;
            color:#000;   
            }
        &[aria-expanded="true"]{
        border-top: 6px solid $colour_primary;
        }
        &[aria-expanded="true"]:hover,
        &[aria-expanded="true"]:focus{
        border-top: 6px solid $colour_primary;
        }
        &.open:before {
        font-family: FontAwesome;
        content: "\f077";
        float:right;
        color:#000;
        }
        &.open:hover:before,
        &.open:focus:before{
        color:#000;   
        }
        &:before {
        font-family: FontAwesome;
        content: "\f078";
        float:right;
        color:#000;
        }
        &:hover:before,
        &:focus:before{
        color:#000;;   
        }
        }
        .accordionPanel{ 
        padding:1rem;
        }
    }

/* collapsible toggle
================================================== */
.treeGroup{
    .expand-collapse{ 
    margin-bottom:1rem;
    }
    button.collapsible{
    background: none;
    border: none;
    font-size: 1rem;
    padding-left: 0;
        span{
        &:hover, &:focus{
        text-decoration:underline;
        }
        }
    }
    .hdn{
    display:none;
    }
    .panel{
        .content{
        padding-left:1.4rem;
        }
    }
    .collapsible {
    cursor: pointer;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    text-decoration: none;
    }
    .collapse-close:before {
    font-family: FontAwesome;
    content: "\f196";
    font-weight:400;
    color:$colour_primary;
    margin-right: 0.5rem;
    }
    .collapse-open:before {
    font-family: FontAwesome; 
    content: "\f147";
    font-weight:400;
    color:$colour_primary;
    margin-right: 0.5rem;
    }
    p{
    margin-bottom:0.5rem;
    }
    #col-1{
    display:none;
    }
    #col-1,
    #exp-1 {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 0.75rem;
    color: #767676;
    }
}


/* Footnotes
================================================== */

.accFootnote {
    a, .accFootnote a:link {
    margin-left:2px;
    }
    a:visited {
    background: #EEE;
    }
    a:hover {
    text-decoration: none;
    background: #F2D3A1;
    }
}
#footnotes {
    &::before {
    display: block;
    position: relative;
    margin:2rem;
    content: "";
    height: 0.2rem;
    background:$colour_primary;
    }
}

/* Styled accessible radio buttons
================================================== */

.accessibleRadio{

    [type="radio"] {
      border: 0; 
      clip: rect(0 0 0 0); 
      height: 1px; margin: -1px;
      overflow: hidden; 
      padding: 0; 
      position: absolute; 
      width: 1px;
           + span {
          display: block;
              &:before {
              content: '';
              display: inline-block; 
              width: 1rem;
              height: 1rem;
              vertical-align: -0.25rem;
              border-radius: 1rem;
              border: 0.25rem solid #fff;
              box-shadow: 0 0 0 0.15rem #000; 
              margin-right: 0.75rem;
              transition: 0.5s ease all; 
            }
        }
        &:checked + span:before {
        background: green;
        }
        &:focus + span:after {
        content: '\0020\2190';
        font-size: 1.5rem;
        line-height: 1;
        vertical-align: -0.125rem;
        }
    }

    label {
      display: block;
      cursor: pointer;
      line-height: 2;
      font-size: 1.3rem;
    }

}



/* Modals
================================================== */    
   
    .modal{
        position:fixed;
        overflow:auto;
        width:865px;
        max-height:640px;
        top:10%!important;
        left:37%;
        background-color:#fff;
        padding:1rem;
        box-shadow:10px 10px 10px rgba(50,50,50,.5);
        z-index:1000
        }
    .modalBackdrop{
        background-color:$colour_primary;
        @include opacity(0.85);
        position:fixed;
        z-index:999;
        left:0;
        top:0;
        height:100%;
        width:100%}
   
    button.lbClose {
    position: absolute;
    background:none;
    background:transparent url("../img/close-button.png") no-repeat; 
    border:none;
    width:29px;
    height:29px;
    top: 1.5rem;
    right: 2rem;
    cursor:pointer;
    }
    button.accModal{
    background:none;
    border:none;
    box-shadow:none;
    padding-top: 0.75rem;
    cursor:pointer;
        &:hover, &:focus{
        text-decoration:underline;
        }
    }

/* Generic
================================================== */

.todo { background: yellow; }
.print-only { display: none; }
strong{font-weight:700;}