@import "colours";
@import "mixins";
.tabsContainer{
@extend %clearfix;
}
.tabs {
    margin: 0;
        + div.content {
        margin-bottom: 2rem;
        padding:1rem;
        }
        &[role="tablist"]{
        margin: 0 0 -.08em;   
        }
    }

    .tab {
    display: inline-block;
    margin: 0 0 0.05em;
    }
    .tab {
    position:relative;
    display: inline-block;
    color: #000;
    background-color: #fff;
    border:1px solid $colour_primary;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline:none;
    }
    .tab:hover,
    .tab:focus {
    text-decoration: none;
    color: #000;
    border-top: 6px solid $custom-colour_dark-pink; 
    }
    .tab[aria-selected="true"]{
    color: #000;
    font-weight:700;
    border-bottom:none;
    border-top: 6px solid $colour_secondary;
    }
    .tab[aria-selected="true"]:after {
    position: absolute;
    z-index: 3;
    bottom: -1px;
    right: 0;
    left: 0;
    height: .3em;
    background: #fff;
    content: '';
    }
    .tab[aria-selected="true"]:hover,
    .tab[aria-selected="true"]:focus{
    border-top: 6px solid $custom-colour_dark-pink; 
    }
    #tabInsertIdh {
    text-align: left;
    background: #fff;
    padding: 1rem;
    border: 1px solid $colour_primary;
    }