/* WHATSOCK, 2016 */
/* Specific styles for ARIA Listboxes */

div.sample {
	-webkit-display: flex;
	-ms-display: flex;
	display: flex;
}

.standardWrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
	text-align: center;
	background-color: #E0E0E0;
}

#standardSelect {
	max-width: 200px;
	-webkit-flex: 0 1 70%;
	-ms-flex: 0 1 70%;
	flex: 0 1 70%;
	margin-left: 5%;
}

#standardLB {
    list-style: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
	justify-content: space-around;
	padding: 1rem;
    margin: 0;
}

#standardLB > li {
    position: relative;
    padding: 0.5rem;
}

#standardLB > li > a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    height:40px;
    width:40px;
}


#standardLB a[aria-selected="true"], #standardLB a:hover, #standardLB a:focus {
    background: #92dbf6;
}

#standardLB a[role="option"][aria-checked="false"] {
   background:url('../img/unchecked.svg'); 
   background-repeat:no-repeat;
   background-position: center;
}

#standardLB a[role="option"][aria-checked="mixed"] {
    background:url('../img/indeterminate.svg');
    background-repeat:no-repeat;
    background-position: center;
}

#standardLB a[role="option"][aria-checked="true"] {
    background:url('../img/checked.svg');
    background-repeat:no-repeat;
    background-position: center;
}

#standardLB a .lbl {
        position:relative;
        top:30px;
        display:inline-block;
        width:100%;
        height:20px;
}

.desc {
    clear: both;
}
