/* WHATSOCK, 2016 */
/* Specific styles for Web Chat */

#startChatBtn {}

div.popup {
    position: absolute;
    width: 300px;
	bottom: 0;
	left: 15%;
	background: #FFF;
    padding: 0.5rem;
	box-shadow: 0 0 5px rgba(0,0,0,.7);
	border-radius: 0.3rem;
    z-index: 1;
}

#popup-chat > div.title, #popup-chat > div.close {
}

#popup-chat h3 {
    font-weight: bold;
    font-size: 1em;
	text-transform: uppercase;
	margin: 0;
}

#popup-chat div.close {
}

#popup-chat p.close a {
	display: block;
	float: right;
	width: 24px;
	height: 24px;
	background: transparent;
	margin: -1.2em 0 1em;
}

#popup-chat div.chatPane {
    clear: both;
    padding: 0.5rem;
    height: 5em;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px #CCC;
}

#popup-chat div.chatPane > * {
	font-size: 0.8em;
	line-height: 1.3;
    color: #286278;
	margin-bottom: 0.5em;
}

#chatPaneInsert div {
	margin-bottom: 0.5em;
}

div.msg, div.hisBtn {}

div.msg {width: 100%;}

#msgField {
    width: 98%;
    height: 4rem;
    overflow: auto;
    word-wrap: break-word;
}

div.tooltip {
	width: 25em;
	top: -1em;
	left: 0;
	font-size: 0.8em;
    z-index: 2; 
}

