/* WHATSOCK, 2016 */
/* Specific styles for ARIA Data Grid */


#dataGridId {
    min-height: 500px;
    border: 1px solid #2E3135;
}
div.mode {position: relative; color: #FFF; background: #2E3135; padding: 0.5rem; margin-bottom: 0.5rem;}

	div.mode label {display: inline-block; padding-right: 2rem;}
	
	#mro {position: absolute; top: 0.4rem; right: 0.3rem;}
	#buv {border-radius: 0.3em;}
	
div.configure {padding: 0.5rem 1rem;}
	div.configure p {margin-bottom: 0.3em;}
	
div.modify ul {list-style-type: none; margin: 1rem;}
div.modify li {display: inline-block;}

div.paginate {
	text-align: right;
	padding: 0.3rem 0.5rem;
	margin: 0.5rem;
}

div.modify button {
    text-transform: uppercase;
    color: #000;
    background: #E0E0E0;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
}
button.paginate {
	overflow: hidden;
	width: 35px;
	height: 35px;
	text-indent: -50em;
	background: url(../img/sprite.svg) 0 0 no-repeat;
	padding: 0;
}
#btnFirst {background-position: 2px -1015px;}
#btnPrev {background-position: 2px -655px;}
#btnNext {background-position: 2px -475px;}
#btnLast {background-position: 2px -835px;}


button.paginate[disabled] {opacity: .3; cursor: default;}

#btnGo {
	text-transform: uppercase;
	color: #000;
	background: #E0E0E0;
	padding: 0.3em 0.5em;
	margin: 0.3rem 0 0.3rem 0.5rem;
	border: 1px solid #E0E0E0;
	border-radius: 0.3em;
}

table.data-grid {
	width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
}

table.data-grid .data-grid-cell {
	font-size: 0.9em;
    text-align: center;
	border: 1px solid #CCC;
    vertical-align: middle;
}
table.data-grid th.data-grid-cell {
	color: #FFF;
	background: #C1384D;
}

table.data-grid .gridcell-col1 {
	width: 3em;
	background: #EDE4E6;
}

table.data-grid-editable td {
    cursor: pointer;
}

table.data-grid-readonly td, table.data-grid-editable td.data-grid-cell-readonly {
    cursor: auto;
}

table.data-grid .data-grid-cell strong > span {
    display: block;
	padding: 0.5em;
}

table.data-grid .gridcell-col1 strong > span, table.data-grid td.gridcell-col6 strong > span {
    display: block;
}


table.data-grid th strong, table.data-grid td strong.data-grid-cell-link {
}

table.data-grid td strong.data-grid-cell-link {
}

table.data-grid td strong.data-grid-cell-toggle {
	display: inline-block;
	text-decoration: none;
	color: #000;
	background: #E0E0E0;
	padding: 0.3em 0.5em;
	margin: 0.3rem 0;
	border: 1px solid #E0E0E0;
	border-radius: 0.3em;
}

table.data-grid td strong.data-grid-cell-toggle-pressed {
	color: #FFF;
	background: #2E3135;
}

table.data-grid-selectable td strong.data-grid-cell-link, table.data-grid-readonly td strong.data-grid-cell-link, table.data-grid td.data-grid-cell-readonly strong.data-grid-cell-link {
}

table.data-grid-selectable td strong.data-grid-cell-toggle, table.data-grid-readonly td strong.data-grid-cell-toggle, table.data-grid td.data-grid-cell-readonly strong.data-grid-cell-toggle {
}

table.data-grid-selectable td strong.data-grid-cell-toggle-pressed, table.data-grid-readonly td strong.data-grid-cell-toggle-pressed, table.data-grid td.data-grid-cell-readonly strong.data-grid-cell-toggle-pressed {
}

table.data-grid-selectable td, table.data-grid-readonly td, table.data-grid td.data-grid-cell-readonly {

}

table.data-grid-selectable tr {
	cursor: pointer;
}

table.data-grid-selectable tr.selected, table.data-grid-selectable tr.selected td {
	color: #000;
	background: #FC0;
}

table.data-grid th strong, table.data-grid td.gridcell-col1 strong {

}

table.data-grid td.data-grid-cell-focused {
	outline: 2px solid #2E3135;
}

table.data-grid-selectable tr.data-grid-row-focused {
	outline: 2px solid #2E3135;	
}

table.data-grid-selectable td.data-grid-cell-focused {
	outline: none;
}

div.data-grid-cell-link-edit {
	position: absolute;
	color: #000;
	background: #FFF;
	text-align: left;
	margin: 13px 0px 0px -115px;
	z-index: 1;
}

input.data-grid-cell-link-edit {
	width: 100%;
	height: 100%;
	box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}
