
div.viewport {
height: 402px;
overflow: hidden;
text-align: left;
}

div.viewport > * {
float: left;
}

#container {
height: 400px;
width: 250px;
overflow: auto;
border: solid thin black;
}

#book {
height: 380px;
width: 530px;
padding: 10px;
overflow-x: hidden;
overflow-y: auto;
border: solid thin black;
margin-left: 10px;
font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}

#book > * {
width: 530px;
}

#book div.title {
text-align: center;
font-weight: bold;
font-size: 1.2em;
padding: 10px 0;
}

div.TreeView {
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
margin-left: 55px;
}

div.tree > div.TreeView {
margin-left: 10px;
}

div.TreeView ul {
list-style: none;
padding: 0;
margin: 0;
}

div.TreeView ul > li {
margin: 5px 0px;
}

div.TreeView ul > li > a > span {
display: block;
width: 100px;
}

div.TreeView ul > li > a {
cursor: pointer;
display: inline-block;
text-decoration: none;
font: bold 12px/12px HelveticaNeue, Arial;
padding: 4px 8px;
color: #555;
border: 1px solid #dedede;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

div.TreeView ul > li > a.branch {
background: #bdbdbd;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /* WebKit */
background: -moz-linear-gradient(top, #cacaca, #aeaeae);
border-color: #000;
color: #000;
text-shadow: 0 1px 0 #d4d4d4;
-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7; 
}

div.TreeView ul > li > a[aria-expanded="true"] {
background: #c2c2c2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bcbcbc', endColorstr='#c2c2c2'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbc), to(#c2c2c2)); /* WebKit */
background: -moz-linear-gradient(top, #bcbcbc, #c2c2c2);
border-color: #989898 #8e8e8e #878787;
text-shadow: 0 1px 0 #dadada;
-webkit-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
-moz-box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc;
box-shadow: 0 1px 1px #cdcdcd, inset 0 1px 0 #ccc; 
}

div.TreeView ul > li > a[aria-expanded="false"]:before {
color: red;
content: '+';
}

div.TreeView ul > li > a[aria-expanded="true"]:before {
color: blue;
content: '-';
}

div.TreeView ul > li > a.leaf {
background: #f5f5f5;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /* WebKit */
background: -moz-linear-gradient(top, #f9f9f9, #f0f0f0);
border-color: #dedede #d8d8d8 #d3d3d3;
color: #555;
text-shadow: 0 1px 0 #fff;
-webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
-moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}

div.TreeView ul > li > a.leaf.active {
background: #f4f4f4;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f8f8f8'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#f8f8f8)); /* WebKit */
background: -moz-linear-gradient(top, #efefef, #f8f8f8);
border-color: #c7c7c7 #c3c3c3 #bebebe;
text-shadow: 0 1px 0 #fdfdfd;
-webkit-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
-moz-box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
box-shadow: 0 1px 1px #ebebeb, inset 0 1px 0 #f3f3f3;
}
