
table.sample {
width: 530px;
}

table.sample td {
vertical-align: middle;
width: 100%;
text-align: center;
}

table.sample td.imageTD {
height: 428px;
overflow: hidden;
}

.slider2 {
width: 530px;
height: 50px;
}

.slider2 > * {
float: left;
}

.min2, .max2 {
height: 50px;
width: 50px;
background-color: #000;
color: #f5f5f5;
}

.min2 span, .max2 span {
position: relative;
top: 10px;
}

.slide2 {
height: 48px;
width: 428px;
border-top: solid thin black;
border-bottom: solid thin black;
}

.slide2 > div.nub2 {
width: 30px;
height: 48px;
background: url("../img/slider.png") #f5f5f5 no-repeat;
cursor: pointer;
}

.slide2 > div.nub:focus {
outline: red 2px inset;
}

#earthImg {
height: 0;
width: 0;
}
