/* WHATSOCK, 2016 */
/* Specific styles for ARIA Menus */

@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);

div.demo-block {
  position: relative;
}

#titleId {
  position: absolute;
  width: 4.5em;
  top: 2rem;
  left: 1.5rem;
  font-family: "Patrick Hand", cursive;
  color: #fff;
}

#blackboardId {
  cursor: pointer;
  width: 70%;
  min-height: 200px;
  overflow-y: auto;
  background: #213538;
  margin-bottom: 1rem;
  border: 10px solid #000;
  box-shadow: 0 5px 3px #777;
}

button {
  border: 1px solid #d0d0d0;
}

div.menu ol.menu {
  float: left;
  width: 10em;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  border: solid thin black;
  -webkit-box-shadow: 0 5px 3px -3px #777;
  -moz-box-shadow: 0 5px 3px -3px #777;
  box-shadow: 0 5px 3px -3px #777;
}

div.menu ol.menu > li {
  margin: 2px 0px;
  padding: 3px 6px;
  position: relative;
}

div.menu ol.menu a {
  display: block;
  padding: 0.3em 0.8em;
  text-decoration: none;
  color: #fff;
  background-color: #2e3135;
}

div.menu ol.menu a.submenu {
  background: #2e3135 url(../img/sprite.svg) right -289px no-repeat;
}

div.menu ol.menu a:focus,
div.menu ol.menu a:hover,
div.menu ol.menu a.submenu:hover {
  color: #fff;
  background-color: #c13836;
}

a[role="menuitem"][aria-disabled="true"] {
}

body {
  height: 500px;
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press */
}
