
body {
font-size: 1.1em;
}

div.content, #footnotes {
color: #191970;
}

#footnotesDil {
border-bottom: solid 4px black;
width: 50%;
height: 5px;
}

i {
font-size: 0.9em;
}

.accFootnote {
color: #515f6a;
text-shadow: 0 1px 0 #c4d0d9;
}

.accFootnote a, .footnote a {
text-decoration: none;
font-size: 0.9em;
background: #525252;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#434343'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); /* WebKit */
background: -moz-linear-gradient(top, #5e5e5e, #434343);
border-color: #4c4c4c #313131 #1f1f1f;
color: #fff;
text-shadow: 0 1px 0 #2e2e2e;
-webkit-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
-moz-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;  
}

.footnote a {
font-size: 1.2em;
}
