/* WHATSOCK, 2016 */
/* Specific styles for ACCESSIBLE POPUP */

div.popup {
	position: absolute;
	z-index: 1;
	background-color: #f5f5f5;
	padding: 0.5rem;
	text-align: left;
	border: 1px solid #286278;
	box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

	div.popup h4 {padding-right: 35px; margin-top: 0;}
	div.popup dt {margin-top: 0.8em;}
	div.popup dt, div.popup dd {font-size: 0.8em;}
	
	div.popup a.popupClose, div.popup a.popupClose:link, div.popup a.popupClose:visited {
		position: absolute;
		width: 36px;
		height: 36px;
		top: 0.5rem;
		right: 0;
		z-index: 2;
		background: transparent;
	}