/* WHATSOCK, 2016 */
/* Specific styles for ARIA Calendar */

#datepicker-demo {
    background: #E0E0E0;
    padding: 1rem;
    margin: 1rem 0 2rem;
}

	#datepicker-demo em {display: block; font-size: 90%;}

#date, #party {
    width: 90%;
    max-width: 25em;
	vertical-align: 20px;
}

a.accCalendar {
	display: inline-block;
	background: transparent;
}

div.calendar {
    text-align: center;
    color: #FFF;
    background: #2E3135;
    padding: 0.5rem;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

table.calendar {
    border-collapse: separate;
    border-spacing: 1px;
}

table.calendar td, table.calendar th {
    padding: 0.3em 0.5em;
    border-radius: 0.15rem;
}

td.empty {
    background: rgba(255, 255, 255, .07);
}

th.week {}

td.nav, td.day {cursor: pointer;}

td.day {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    color: #000;
    background: #63B7C2;
}

td.day:hover {background: #E2A037;}

td.selected, td[aria-current="date"] {background: #E2A037;}

div.calendar *:focus, div.commentAdd *:focus {
    background: #E2A037;
        outline: blue 2px inset;
}

td.month {
    font-weight: 600;
    color: #63B7C2;
    text-shadow: 0 1px 0 #000;
}

td.comment {position: relative;}
td.comment span::after {
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	top: 0.2rem;
	right: 0.2rem;
	content: "";
	background: #49182E;
	border-radius: 7px;
}

td.comment.selected {
	background: #E2A037; 
}


td.disabled, td.disabled:hover {
	color: #CCC;
    background: #bdbdbd;
    cursor: auto; 
}

td.disabled.selected {background: #C2C2C2;}

div.commentTooltip {
	width: 271px;
	padding: 0.5rem;
	color: #FFF;
	background: #3D4043;
	font-size: 0.8em;
	font-weight: bold;
	max-height: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	text-align: left;
}

div.commentAdd {
	background: #2E3135;
	border-radius: 0.3rem;
}

	div.commentAdd button {
		font-size: 100%;
		text-transform: uppercase;
	    color: #FFF;
	    background: #2E3135;
	    padding: 0.5rem;
		margin-top: -5px;
		border: none;
	    border-bottom-left-radius: 0.3rem;
	    border-bottom-right-radius: 0.3rem;
	    -webkit-box-shadow: 0 10px 6px -6px #777;
	    -moz-box-shadow: 0 10px 6px -6px #777;
	    box-shadow: 0 10px 6px -6px #777;
	}

div.commentAdd textarea {
	width: 270px;
	height: 2em;
	overflow: auto;
	word-wrap: break-word;
	text-align: left;
	padding: 0.2em;
	margin: 0.5rem 0.5rem 0;
}
