
*:focus {
outline: blue 2px inset;
}

dd > * {
float: left;
margin: 2px 10px 5px 0;
}

dd > span {
margin-left: 15px;
}

dd > input[type="checkbox"] {
margin-left: 200px;
}

#a1, #a1img {
}

#a2 {
height: 59px;
width: 58px;
background: url("../img/checkiconblue.png") #f5f5f5; no-repeat;
}

#a2.checked {
background: url("../img/checkiconred.png") #f5f5f5; no-repeat;
}
