/* WHATSOCK, 2016 */
/* Specific styles for Dynamic message anouncement */

div.options,
#totals {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

#totals {
  background: #ddd;
  padding: 0.8rem 1rem;
}
#totals p:last-child {
  font-weight: bold;
}
