/* WHATSOCK, 2016 */
/* Specific styles for ARIA Toggle Buttons */

dl {
  max-width: 40em;
}

dt {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

dd {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}
dd:last-child {
  border: none;
}

dd *:nth-child(1) {
  display: inline-block;
  width: 10em;
  text-align: center;
}

dd *:nth-child(2) {
  position: relative;
  left: 10%;
}

*[role="button"]:not(#helpIcon),
a:link[role="button"],
a:visited[role="button"] {
  width: auto;
  text-transform: uppercase;
  color: #fff;
  background: #286278;
  padding: 0.3em 0.5em;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  transition: border-radius;
  -webkit-transition: border-radius;
  cursor: pointer;
}
*:focus[role="button"],
*:hover[role="button"],
a:focus[role="button"],
a:hover[role="button"] {
  text-decoration: none;
  color: #fff;
  background: #49182e;
  box-shadow: none;
  border-radius: 0;
}
