/* WHATSOCK, 2016 */
/* Specific styles for ARIA Listboxes */

div.sample {
	-webkit-display: flex;
	-ms-display: flex;
	display: flex;
}

.standardWrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
	text-align: center;
}

#standardSelect {
	max-width: 200px;
	-webkit-flex: 0 1 70%;
	-ms-flex: 0 1 70%;
	flex: 0 1 70%;
	margin-left: 5%;
}

#standardLB {
    padding: 0;
    margin: 0;
    list-style: none;
}

#standardLB > li {
    padding: 3px;
}

#standardLB > li > a {
    display: block;
    text-decoration: none;
	padding: 0.3em 0.5em;
}

#standardLB > li > a.selected {
}

#standardLB > li > a > span {
    display: block;
}


.desc {
    clear: both;
}
