/* WHATSOCK, 2016 */
/* Specific styles for Toggle / Non ARIA */

div.demo-block h3 {font-size: 1.3em; margin-bottom: 2rem;}

#img1, #input1, #div1 {background: transparent; cursor: pointer;}

dl {max-width: 40em;}

dt {font-weight: bold; margin-bottom: 0.5rem;}

dd {
	display: flex;
	align-items: center; 
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px dotted #CCC;
}
dd:last-child {border: none;}

dd *:nth-child(2) {flex: 1 1 30%; padding: 0 1rem 0 10%;}

#div1 {
	height: 59px;
	width: 58px;
	background: url("../img/checkiconblue.png") #f5f5f5; no-repeat;
}

#div1.checked {
	background: url("../img/checkiconred.png") #f5f5f5; no-repeat;
}

#a3, #a3:link, #a3:visited {background: transparent;} 

.offscreenText {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    z-index: -1000;
}