/* WHATSOCK, 2016 */
/* Specific styles for ARIA Links and buttons */

div.demo-block h3 {font-size: 1.3em; margin-bottom: 2rem;}

#img1, #input1, #div1 {cursor: pointer;}

dl {max-width: 40em;}

dt {font-weight: bold; margin-bottom: 0.5rem;}

dd {

	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px dotted #CCC;
}
dd:last-child {border: none;}

#span1, #helpIcon {cursor: pointer;}

#a1 {
	display: inline-block;
	position: relative;
	width: 4em;
	height: 4em;
	line-height: 1;
	text-align: center;
	color: #FFF;
	background: radial-gradient(ellipse farthest-corner at 2em 2em , rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, 1) 95%);
	padding: 1em;
	border-radius: 6em;
}

#a1::before {
	display: block;
	position: absolute;
	top: 4em;
	right: 1.5em;
	width: 0.5em;
	height: 0.5em;
	content: "";
	background: rgba(255,255,255,.8);
	border-radius: 0.5em;	
}
#a1::after {
	display: block;
	position: absolute;
	top: 3em;
	right: 0.8em;
	width: 0.8em;
	height: 0.8em;
	content: "";
	background: rgba(255,255,255,.8);
	border-radius: 0.8em;	
}

#a1:hover {text-decoration: none;}

#div1 {
	display: inline-block;
	position: relative;
	width: 10em;
	font-size: 0.8em;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	color: #FFF;
	background: linear-gradient(#90CEFF, #035F84);
	padding: 10em 0 1em;
}

#div1::before {
	display: block;
	position: absolute;
	top: 1em;
	left: 1.2em;
	width: 20px;
	height: 8em;
	content: "";
	background: linear-gradient(90deg,#7D2412, transparent, transparent 15px, #7D2412 2px), 
				linear-gradient(#7D2412, transparent, transparent 15px, #7D2412 2px);
	background-size: 20px 20px;
}
#div1::after {
	display: block;
	position: absolute;
	top: 3.5em;
	right: 0.8em;
	width: 20px;
	height: 8em;
	content: "";
	background: linear-gradient(90deg,#7D2412, transparent, transparent 15px, #7D2412 2px), 
				linear-gradient(#7D2412, transparent, transparent 15px, #7D2412 2px);
	background-size: 20px 20px;
	-webkit-transform: scale(.3);
	-ms-transform: scale(.3);
	transform: scale(.3);
}

#div1 span::before {
	display: block;
	position: absolute;
	top: 7.8em;
	left: 0.8em;
	width: 8em;
	height: 3px;
	content: "";
	background: #7D2412;
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	opacity: .7;
}
#div1 span::after {
	display: block;
	position: absolute;
	top: 4.3em;
	left: 0;
	width: 10em;
	height: 5em;
	content: "";
	background: linear-gradient(transparent, #FFF);
}

#span1 {
	display: inline-block;
	position: relative;
	width: 150px;
	height: 80px;
	font-size: 2em;
	letter-spacing: 0.1em;
	text-transform: uppercase; 
	text-align: center;
	color: #FFF;
	background: #12AF9A;
	padding-top: 15px;
	margin-top: 30px;
	border: 3px solid #FFF;
	border-radius: 0.3rem;
}


#span1::before {
	display: block;
	position: absolute;
	content: "";
	top: -25px;
	left: 50%;
	width: 50px;
	height: 50px;
	background: #12AF9A;
	margin-left: -25px;
	border-radius: 50px;
}

#span1::after {display: block; content:"CITY LIMIT"; font-size: 50%;}

#span1 span.lbl::before {
	display: block;
	position: absolute;
	content: "";
	width: 140px;
	height: 86px;
	top: 2px;
	left: 2px;
	border: 3px solid #FFF;
	border-radius: 0.2rem;
}

#span1 span.lbl::after {}


.offscreenText {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    z-index: -1000;
}