
div.menu {
text-align: left;
width: 200px;
}

div.menu > div {
float: left;
}

div.menu ol.menu {
float: left;
list-style: none;
padding: 0;
margin: 0;
background-color: #f5f5f5;
border: solid thin black;
-webkit-box-shadow: 0 5px 3px -3px #777;
-moz-box-shadow: 0 5px 3px -3px #777;
box-shadow: 0 5px 3px -3px #777;
}

div.menu ol.menu > li {
margin: 2px 0px;
padding: 3px 6px;
position: relative;
}

div.menu ol.menu a {
display: block;
padding: 3px 6px;
text-align: left;
cursor: pointer;
text-decoration: none;
font: bold 12px/12px HelveticaNeue, Arial;
border: 1px solid #dedede;
background: #525252;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#434343'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#434343)); /* WebKit */
background: -moz-linear-gradient(top, #5e5e5e, #434343);
border-color: #4c4c4c #313131 #1f1f1f;
color: #fff;
text-shadow: 0 1px 0 #2e2e2e;
-webkit-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
-moz-box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;
box-shadow: 0 1px 1px #afafaf, inset 0 1px 0 #868686;        
}

div.menu ol.menu a:focus {
outline: 2px red inset;
background: #5a5a5a;
border-color: #2c2c2c #1c1c1c #101010;
text-shadow: 0 1px 0 #363636;
-webkit-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
-moz-box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
box-shadow: 0 1px 1px #b1b1b1, inset 0 1px 0 #838383;
}

div.menu ol.menu a.submenu:before {
content: '\2192 ';
color: red;
}

a[role="menuitem"][aria-disabled="true"] {
background: #bdbdbd;
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cacaca', endColorstr='#aeaeae'); /*  IE */
background: -webkit-gradient(linear, left top, left bottom, from(#cacaca), to(#aeaeae)); /*  WebKit */
background: -moz-linear-gradient(top,  #cacaca, #aeaeae);
border-color: #000;
color: #000;
text-shadow: 0 1px 0 #d4d4d4;
-webkit-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
-moz-box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;
box-shadow: 0 1px 1px #c9c9c9, inset 0 1px 0 #d7d7d7;                
}

body {
-webkit-user-select: none; /* disable selection/Copy of UIWebView */
-webkit-touch-callout: none; /* disable the IOS popup when long-press */
}
