/* WHATSOCK, 2016 */
/* Specific styles for ARIA Menus */
div.menu {
    text-align: left;
    width: 200px;
}

div.menu > div {
    float: left;
}

div.menu ol.menu {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    border: solid thin black;
    -webkit-box-shadow: 0 5px 3px -3px #777;
    -moz-box-shadow: 0 5px 3px -3px #777;
    box-shadow: 0 5px 3px -3px #777;
}

div.menu ol.menu > li {
    margin: 2px 0px;
    padding: 3px 6px;
    position: relative;
}

div.menu ol.menu a {
	display: block;
	padding: 0.3em 0.8em;
	text-decoration: none;
	color: #FFF;
	background-color: #2E3135;
}

div.menu ol.menu a.submenu {
	background: #2E3135 url(../img/sprite.svg) right -289px no-repeat;
}

div.menu ol.menu a:focus, div.menu ol.menu a:hover, div.menu ol.menu a.submenu:hover {
	color: #FFF;
	background-color: #C13836;
}

a[role ="menuitem"][aria-disabled = "true"] {
}

body {
    height: 500px;
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press */
}
