/* WHATSOCK, 2016 */
/* Specific styles for PROGRESS BAR */

.demo-block {position: relative;}

div.progressBar {
	width: 80%;
	font-size: 2em;
	background-color: #f5f5f5;
	margin: 2rem auto;
}

div.progressBar div {width: 300px;}

/*
Modifications to the progress element styling are based on the article "Cross Browser HTML5 Progress Bars In Depth"
http://www.useragentman.com/blog/2012/01/03/cross-browser-html5-progress-bars-in-depth/
*/

progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
/* Needs to be in here for Safari polyfill so background images work as expected. */
background-size: auto;
}
 
/* Polyfill */
progress[role]:after {
background-image: none; /* removes default background from polyfill */
}
 